*.o
*.d
*.bin
*.out
*.map
*.in
*.hex
*.uvprojx
*.uvoptx
*.uvproj
*.uvopt
*.ewp
*.ewd
*.icf

# Cortex-Debug extension
.vscode/.cortex-debug.*.json

# Visual Studio Code files
.vscode/ipch/*

# Segger Ozone
*.jdebug.user

# nrf5 SDK
nRF5_SDK_17.1.0_ddde560